.card {
    border: solid 1px var(--primary-color);
    background-color: var(--white-color);
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: var(--shadow-color) 8px 8px;
}

/* details */
details[open]>summary {
    border-bottom: solid 1px var(--primary-color);
    box-shadow: none;

    &::before {
        transform: rotate(45deg);
        top: 1px; left: 1px;
    }
}

details:has(summary:active):not([open]) {
    top: 3px;
}

details {
    position: relative;
    transition: all 0.3s, top 0.1s;
    top: 0px;
    font-size: 21px;

    > div {
        margin: 20px clamp(0px, 5%, 40px);
        font-size: medium;
    }

    > summary {
        position: relative;
        padding: 20px 35px;
        background-color: var(--skyblue-color);
        border-radius: 10px;
        list-style-type: none;
        box-shadow: 0 2px var(--primary-color);

        &:active {
            box-shadow: none;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 15px; height: 15px;
            border: 3px solid var(--primary-color);
            border-left: 0; border-bottom: 0;
            position: relative; top: -2px; left: 3px;
            margin-right: 15px;

            transition: 0.4s;
            transform: rotate(135deg);
        }
    }
}

button:not(.area-remove-btn) {
    font-size: 15px;

    padding: 8px 15px;
    position: relative;
    transition: 0.12s;
    z-index: 0;
    transform: translateY(0px);

    background-image: linear-gradient(135deg, var(--primary-color), var(--sub-color));
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px var(--shadow-color);

    &::after {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: -1;
        transition: all 0.4s;
        opacity: 0;

        background-image: linear-gradient(315deg, var(--primary-color), var(--sub-color));
        border-radius: 5px;
    }

    &:hover, 
    &:active {
        &::after {
            opacity: 1;
        }
    }
    &:active {
        box-shadow: none;
        transform: translateY(10px);
    }

    & * {
        position: relative;
        z-index: 1;
    }
}

/* 白いボタン */
button.btn-white {
    background-image: none;
    overflow: hidden;
    box-shadow: none;

    background-color: white;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    transition: all 0.15s, box-shadow 0.5s;

    &::after {
        background-image: linear-gradient(315deg, var(--primary-color), var(--sub-color));
        transform: translateY(-100%);
    }

    &:hover {
        box-shadow: 0px 6px var(--shadow-color);
        color: white;
        transition: all 0.15s;

        &:active {
            box-shadow: 0px 0px;
            transform: translateY(12px);
        }
        &::after {
            transform: translateY(0%);
        }
    }
}

/* 丸いボタン */
button.circle {
    width: 55px; height: 55px;
    border-radius: 50%;
    font-size: 28px;

    &::after {
        width: 55px; height: 55px;
        border-radius: 50%;
    }
}

/* input */
input[type="text"] {
    border: solid 1.5px var(--primary-color);
    border-radius: 3px;
    padding: 9px 12px;
    font-size: 16px;

    transition: background-color 0.15s;

    &:focus {
        outline-color: var(--primary-color);
        background-color: var(--skyblue-color);
    }

    &::placeholder {
        color: var(--primary-color);
    }
}

hr {
    border: solid 0.5px var(--shadow-color);
}